@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    background: #181818;
    min-height: 100vh;
}

:root {
    accent-color: #e50914;
}


input[type="checkbox"] {
    accent-color: #e50914;
}


.rounded-1 {
    border-radius: 1rem;
}

.rounded-bottom-1 {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}


.bg-dark {
    background: #181818;
}

.bg-gray {
    background-color: #282828 !important;
}

.bg-red {
    background-color: #e50914;
}

.color-soft-gray {
    color: #a0a0a0;
}

.color-orange {
    color: #f39c12;
}


.color-white {
    color: #f5f5f1;
}

.color-gray {
    color: #8c8c8c;
}

.color-red {
    color: #e50914 !important;
}


.link {
    @extend .color-white;
    transition: .3s;

    &:hover {
        @extend .color-red;
    }
}

.action-button {
    @extend .color-white;
    background: #e50914;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .3s;

    &:hover {
        background: #B81D24;
    }
}

.action-button[disabled] {
    background: #B81D24;
    opacity: .5;
}

// START PLAYER STYLES

#player_playlist1 > pjsdiv > [me=head_x-0] {
    background-color: rgb(219, 0, 0.9);
    color: #fff !important;

    line {
        stroke: #fff !important;
    }
}

#player_playlist1 > pjsdiv > pjsdiv,
#player_playlist2 > pjsdiv > pjsdiv,
#player_playlist3 > pjsdiv > pjsdiv {
    background-color: rgb(219, 0, 0.9);
    color: #fff !important;

    line {
        stroke: #fff !important;
    }
}

#player > pjsdiv > pjsdiv > svg > path {
    display: none !important;
}

#oframeplayer {
    border-radius: 5px;
}

// END PLAYER STYLES

.breaker {
    height: 2px;
    opacity: .4;
    background: #8c8c8c;
}

.input {
    @extend .rounded-1;
    @extend .bg-gray;
    @extend .color-white;
    padding: 10px 20px;
    transition: .3s;
    width: 100%;

    input[type=text] {
        background: none;
        width: 100%;

        &::placeholder {
            @extend .color-soft-gray;
        }

        &:focus {
            outline: none;
        }
    }
}


.dropdown-item {
    @extend .bg-gray;
    @extend .color-soft-gray;
    padding: 10px 20px;
    transition: .3s;
    width: 100%;
}

.dropdown-button {
    @extend .dropdown-item;
    @extend .rounded-1;
}

.dropdown-button[data-headlessui-state="open"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown-items {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.badge {
    transition: .3s;
}

.badge-icon:hover {
    @extend .color-red;
}

@keyframes skeleton-loading {
    to {
        background-position: left;
    }
}

.skeleton-block {
    background: linear-gradient(90deg, #323232 40%, #404040, #323232 60%) right / 300% 100%;
    animation: skeleton-loading 1.5s linear infinite;
}

